POSTGRES_DB=investhelper
POSTGRES_USER=investhelper
POSTGRES_PASSWORD=investhelper
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
INVESTHELPER_DATABASE_URL=******localhost:5432/investhelper
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
